@charset "UTF-8";

li {list-style: none; line-height: 2em;}

.accent {
    color: #ad3000;
    font-weight: bold;
}

.container {
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    padding-top: 0;
}
