@charset "UTF-8";

.bgApple {
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
    width: 500px;
    
}

.box {
    background-color: rgba(0,0,0,.7);
    padding: 1px 10px;
    position: relative;
    top: 170px;
}
.box h1 {color: #fff;}
.box p {color: rgba(255,165,0,.8);}

table, tr, th, td {
    border: 1px dotted black;
    border-collapse: collapse;
    text-align: center;
    line-height: 2em;
    font-weight: bold;
    width: 500px;
}

th {
    text-align: left;
    background-color: #000;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    padding-left: 10px;
}

.solid {border-bottom: 1px solid #000;}


.accent {font-size: 18px; color: #ff0000;}
.blueA {color: #0000ff;}