@charset "UTF-8";

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {margin-top: 16px;}

th, td { padding: 10px;}

h1 {color: #ff0000;}
h2 {color: #0000ff;}
ol {color: #008000;}
li:first-child {padding-top: 10px; padding-right: 14px;}
li:last-child {padding-bottom: 10px;}


h1, h2, ol {
    border: 3px solid rgb(243, 167, 4);
    display: inline-block;
}

